<p>Witaj!</p>
<p>Zostało złożone żądanie rejestracji na Planoramę <%= @convention_name %> dla adresu e-mail: <%= @email %>.</p>
<p>Możesz zakończyć proces rejestracji, klikając poniższy link:</p>

<p><%= link_to 'Zakończ rejestrację', @url %></p>
<p>Z poważaniem,</p>
<p>Zespół <%= @convention_name %> Planorama</p>
<% if !Rails.env.production? %>
  <p><b>Przesłano przez <%= Rails.env%></b></p>
<% end %>