<p>Hello <%= @resource.name %>!</p>

<p>Your Planorama password was changed on <%= @resource.updated_at.strftime("%m/%d/%Y at %I:%M%p UTC") %>. If you made this change, you may ignore this message. However, if you did not request a password change, please contact us at <%= @reply_to_email %>. </p>

<p>Thank you!</p>
<p>The <%= @convention_name %> Planorama Team</p>
  

<% if !Rails.env.production? %>
  <p><b>Brought to you by <%= Rails.env%></b></p>
<% end %>
