<p>Hello <%= @resource.name %>!</p>

<p>You, or someone on your behalf, has requested to change your password for <%= @convention_name %> Planorama. You can do this by clicking the link below.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>NOTE: this link is only valid for the next <%= "#{Person.reset_password_within.in_hours.to_i} hour".pluralize(Person.reset_password_within.in_hours) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new password.</p>

<p>Sincerely,</p>
<p>The <%= @convention_name %> Planorama Team</p>

<% if !Rails.env.production? %>
  <p><b>Brought to you by <%= Rails.env%></b></p>
<% end %>
