<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
          crossorigin="anonymous"
    >
    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/5.3.45/css/materialdesignicons.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'navbar_vue' %>


    <title>Planorama</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>
  <body>

    <div class="container-fluid">
      <% if current_person %>
        <div class="row">
          <%= render 'layouts/top-navbar' %>
          <%= render 'layouts/side-navbar' %>
          <div class="col-12 col-sm-9 col-xl-10">
            <!-- Content here -->
            <%= yield %>
          </div>
        </div>
      <% else %>
        <%= yield %>
      <% end %>
      <%= render 'layouts/bottom-navbar'%>
    </div>

    <script src="//unpkg.com/babel-polyfill@latest/dist/polyfill.min.js"></script>
    <script src="//unpkg.com/tether@latest/dist/js/tether.min.js"></script>
    <script src="//unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.js"></script>
  </body>
</html>
